.about-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f7f5f0;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 2rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60%;
}

.about-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 40%;
}

.about-stack-item {
    box-sizing: border-box;
    border-left: 2px solid #B99645;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
}

.about-page h2 {
    margin-top: 2rem;
    margin-left: 4rem;
    color: #1F305E;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Inter';
}

.about-page h1 {
    margin: 1.5rem 1.5rem 1.5rem 4rem;
    color: #1F305E;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
    align-self: flex-start;
    font-family: 'Times New Roman', Times, serif;
}

.about-page p {
    margin: 0.5rem 1.5rem 0.5rem 4rem;
    color: #000000;
    text-align: left;
    max-width: 800px;
    font-size: 1rem;
    font-family: 'Inter';
}

.about-stack-item p {
    font-size: 0.9rem;
    line-height: 120%;
    margin: 0.5rem 1.5rem;
    font-family: 'Inter';
}

.about-page h3 {
    margin: 0.5rem 1.5rem;
    align-self: flex-start;
    font-family: 'Inter';
    font-size: 0.9rem;
}

@media (max-width: 1000px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 2rem;
    }

    .about-stack {
        margin-left: 0;
        width: fit-content;
    }

    .about-text {
        width: fit-content;
    }
}