.contact-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #1F305E;
    padding-bottom: 4rem;
}

.contact-page h2 {
    margin-top: 2rem;
    margin-left: 4rem;
    color: #B99645;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Inter';
}

.contact-page h1 {
    margin: 1.5rem 1.5rem 0.5rem 4rem;
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
    align-self: flex-start;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1000px;
    font-size: 2.5rem;
}

.contact-page p {
    margin: 0rem 1.5rem 0.5rem 4rem;
    color: #ffffff;
    text-align: left;
    max-width: 800px;
    font-size: 1rem;
    font-family: 'Inter';
    line-height: 180%;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 4rem;
}

.contact-split-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact-details-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
}

.contact-details-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    width: 100%;
    margin-left: 4rem;
    cursor: pointer;
}


.list-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-item-text p {
    margin: 0;
    color: rgb(190, 190, 190);
    font-size: 1.25rem;
}

.contact-details-list-item:hover .list-item-icon, .contact-details-list-item:hover .list-item-text p {
    color: #fff;
}

.contact-top-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-item-icon {
    font-size: 4rem;
    color: rgb(190, 190, 190);
}

.bouverot-image {
    object-fit: contain;
    width: 30%;
    margin: 0 4rem;
    border: 2px #fff solid;
}

.contact-button {
    border: none;
    background: none;
}

.copied-message {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Inter';
    color: #ffffff;
    margin-left: 2rem;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

@media (max-width: 1000px) {
    .contact-page p {
        font-size: 0.9rem;
    }

    .list-item-text p {
        font-size: 1rem;
    }

    .list-item-icon {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .contact-page p, .contact-page h1, .contact-page h2 {
        margin-inline: 2rem;
    }

    .contact-details-list-item p {
        margin-inline: 0;
    }

    .contact-details-list-item {
        margin: 0 0 0 2rem;
        width: max-content
    }

    .contact-split-details {
        flex-direction: column;
        justify-content: flex-start;
        gap: 4rem;
    }

    .bouverot-image {
        width: 50%;
    }
}