.deals-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #1F305E;
}

.deals-page h2 {
    margin-top: 2rem;
    margin-left: 4rem;
    color: #B99645;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Inter';
}

.deals-page h1 {
    margin: 1.5rem 1.5rem 1.5rem 4rem;
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
    align-self: flex-start;
    max-width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.deals-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 0.6px;
    margin: 0 4rem;
    background: #ffffff3e;
    width: auto;
    align-self: center;
    padding: 0.6px;
}

.deals-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 2rem;
    width: 100%;
}

.deals-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.deals-text p {
    margin: 0.5rem 1.5rem 0.5rem 4rem;
    color: #ffffff;
    text-align: left;
    max-width: 800px;
}

.deals-page-stat {
    padding: clamp(0.5rem, 100%, 2rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    background: #1F305E;
    gap: 0.5rem;
}

.deals-page-stat h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.deals-page-stat h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    font-family: 'Inter';
}

.deals-page-stat p {
    margin: 0;
    font-size: 0.75rem;
    font-family: 'Inter';
    text-align: left;
}

.top-line-text {
    color: #B99645;
    text-transform: capitalize;
    font-weight: 600;
}

.bottom-line-text {
    color: #808080;
    font-weight: 300;
}

.deals-grid-wrapper {
    width: 100%;
}

@media (max-width: 800px) {
    .deals-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .deals-page-stat {
        width: 100%;
        padding: 1.5rem;
    }
}