.services-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f7f5f0;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
}

.services-page h2 {
    margin-top: 2rem;
    margin-left: 4rem;
    color: #B99645;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Inter';
}

.services-page h1 {
    margin: 1.5rem 1.5rem 1.5rem 4rem;
    color: #1F305E;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
    align-self: flex-start;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1000px;
    font-size: 2.5rem;
}

.services-page h3 {
    margin: 0;
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 600;
    color: #B99645;
}

.services-page p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Inter';
    text-align: left;
}

.services-explanation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
    align-items: center;
}

.services-first-row {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services-second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.services-third-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.services-explanation-box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.services-explanation-box.row2 {
    padding: 2rem;
}

.services-explanation-box.row3 {
    padding: 2rem 0 2rem 20%;
}

.pentagon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    padding: 2rem 0 1rem 0;
}

.pentagon-image {
    object-fit: contain;
    width: 10rem;
    height: 10rem;
}

.services-explanation-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 600px;
}

.services-image {
    object-fit: contain;
    max-width: 4rem;
    max-height: 4rem;
}

@media (max-width: 800px) {
    .services-page h1, .services-page h2 {
        margin-left: 2rem;
    }

    .services-content {
        gap: 1rem;
        padding-bottom: 2rem;
    }

    .services-explanation-box, .services-explanation-box.row2, .services-explanation-box.row3 {
        padding: 1rem 2rem;
    }

    .pentagon-wrapper {
        display: none
    }

    .services-first-row {
        flex-direction: column;
        width: 100%;
    }

    .services-second-row {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .services-third-row {
        flex-direction: column;
    }
}