.navbar {
    display: flex;
    flex-direction: row;
    background: transparent;
    color: white;
    padding: 0 1.5rem;
    margin: 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background 0.5s ease-in-out;
    height: 78px;
    align-items: center;
    font-family: 'Inter';
}

.navbar.scrolled {
    background: #1F305E;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

nav a {
    color: rgb(190, 190, 190);
}

nav a.active {
    color: white;
}

nav a:hover {
    color: white;
}

@media (max-width: 500px) {
  .nav-links a {
    display: none;
  }
  .nav-links a.contact-link {
    display: block;
  }
}