:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #f7f5f0;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --heading: 'Merriweather';
  --mono: ui-monospace, Consolas, monospace;

  margin: 0;
  font: 18px/145%;
  letter-spacing: 0.18px;
  color-scheme: light;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 78px;
  font-family: 'Merriweather';
}

#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  line-height: 110%;
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}